body{
   margin:0px;
   padding:0px;
   background:orange;

   font-size:16px;
}

.logo{
   background-color: red;
}

.header{
   background-color: green;
   position:fixed;
   width:100%;
}

.navigation-container, .container {
   margin:auto;
   width:60%;
}

.navigation{
   background-color: green;
   overflow:hidden;

   float:right;
   text-align:left;
}

.navigation a {
   display:block;
   float:left;
   padding: 14px 16px;
   color:white;
   text-decoration:none;

}

.navigation a:hover{
   color:orange;
   background-color: white;
}

.container {
   border: 1px solid black;
   text-align:left;
   font-family:sans-serif;
}

.content{
   background-color: yellow;
   padding:20px;
   margin-top:25px;
}

.footer{
   background-color: pink;
   padding:20px;
}
